.nav {
  background-color: #63280a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav h1 {
  margin: 0 5rem;
  padding: 20px;
}

.shop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin-right: 10rem;
  padding: 15px 40px;
  font-weight: bold;
  align-items: center;
}

.shop span {
  padding: 0 8px;
}

.shop span:nth-child(1) {
  padding-left: 3px;
}

.shop span:last-child {
  background-color: brown;
  border-radius: 15px;
  padding: 3px 15px;
  margin-left: 5px;
}
